
/*resete*/
* {
  margin: 0;
  padding: 0;
}
.hero-image{
  width: 98vw;
  height: 100vh;
  color: white;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}